<h1>Stocks!</h1>
<table>
  <tr><td>Name</td><td>Price</td></tr>
  <% stocks.each do |name, value| %>
    <tr>
      <td><%= name %></td>
      <td id="<%= "#{name.downcase}-price" %>"><%= value %></td>
    </tr>
  <% end %>
</table>
<h2>Latest Notification</h2>
<p id="notify" >None</p>

<script>
  (function($){
    var es = new EventSource('/stocks');

    es.addEventListener('AAPL', function(e) {
      $('#aapl-price').innerText = e.data;
    });

    es.addEventListener('MSFT', function(e) {
      $('#msft-price').innerText = e.data;
    });

    //Notice that GOOG doesn't update
    //Because we didn't subscribe

    es.onmessage = function(e) {
      $('#notify').innerText = e.data;
    };
  })(function(id){return document.getElementById(id.replace('#',''))});
</script>
